table {
    border-collapse: collapse;
  }
   th {
    background: rgb(190, 80, 80);
    text-decoration: solid;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background: #efefef;
  }
  
  tr:hover {
    background: #d1d1d1;
  }
  body{
      background-color: aqua;
  }

  div{
      text-align: center;
  }

  img{
      align-content: center;
      width: 300px;
      height: auto;
      ;
  }
